<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Choose Your Character</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>Choose Your Character</header>
  <img class = "player" src = "{{ url_for('static', filename = 'blackKnight5.png') }}"/>
  <img class = "player" src = "{{ url_for('static', filename = 'whiteKnight5.png') }}"/>
  <img class = "player" src = "{{ url_for('static', filename = 'blueKnight5.png') }}"/>
  <img class = "player" src = "{{ url_for('static', filename = 'grayKnight6.png') }}"/>
</body>
</html>