<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>T'is But A Scratch - Game</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>T'is But A Scratch</header>
  <div class = "gameContainer">
    <div class = "playerContainer" id = "playerOneContainer">
      <img class = "player" src = "{{ url_for('static', filename = values[5]) }}"/>
      <p class = "wordSpace">{{ values[3] }}</p>
    </div>
    <div id = "gameInfo" class = "playerContainer"> 
      <form method = "POST">
        <center>
        <h1 class = "popup">{{ values[7] }}</h1> 
        <input name = "guess" type = "text" placeholder = "{{ values[0] }}"/>
        <br/>
        <input id = "submit" type = "submit" value = "Submit"/>
        </center>
      </form>
    </div>
    <div class = "playerContainer" id = "playerTwoContainer">
      <img class = "player" src = "{{ url_for('static', filename = values[6]) }}"/>
      <p class = "wordSpace">{{ values[4] }}</p>
    </div>
  </div>
  <h2 id = "winMessage">{{ values[8] }}</h2>

  <h2 id = "howHeader">How to Play</h2>
  <p id = "instructions">Welcome to Tis But A Scratch, the combination of the classic game Hangman
     and a movie you might be familiar with: Monty Python and The Holy Grail.
    The objective of this game is to make it so that your opponent well...
    can't say hilarious quips like 'Tis But A Scratch' whilst they are 
    losing their limbs! (I can never seem to find my limbs either)
    So now you may be asking: how exactly am I supposed to do that?
    By guessing the letters in your random 5 letter word of course!
    How else would you complete such a task? Isn't that how all sword fights go?
    Every time you guess a correct letter you get to... make your opponent lose a limb.
    (Jeez where do they keep going???) Be wary some of these words can be tricksters!
    Some words will have 2 of the same letter in them and only 1 will be revealed at a time!
    So if you are stumped, maybe try guessing a letter that you have already revealed in the word,
    you never know! We hope you enjoy!</p>
</body>
</html>