<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Choose Your Name</title>
  <link href="static/style.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Montserrat" rel="stylesheet">
</head>

<body>
  <header>What are your names? </header>
  <form method = "POST">
    <div id = "nameContainer">
        <input type = "text" id = "p1Name" name = "p1" placeholder= "Player One"/>
        <input type = "text" id = "p2Name" name = "p2" placeholder= "Player Two"/>
        <input id = "submit" type = "submit" value = "Continue"/>
    </div>
  </form>
</body>
</html>